<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="" width=device-width, initial-scale="1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles1.css') }}">
    <title>My Profile</title>
</head>

<body>
    <!-- Navigation bar -->
    <nav>
        <ul>
            <li><a href="homepage1.html">Home</a></li>
            <li><a href="explore.html">Explore</a></li>
            <li><a href="pantry.html">Pantry</a></li>
            <li><a href="creation.html">Upload your Own</a></li>
            <li><a href="userpage.html">My Profile</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </nav>

    <div class="profile-container">
        <h2>Welcome, {{ session['username'] }}</h2>

        <!-- cocktails what the user has created/uploaded -->
        <h3>My Created Cocktails</h3>
        <div class="cocktail-grid">
            <!-- display all cocktails created by the user -->

            {% for cocktail in user_cocktails %}
            <div class="cocktail-card">
                <img src="{{ url_for('static', filename = cocktail['image'])}}" alt="{{ cocktail['name'] }}">
                <h3>{{ cocktail['name'] }}</h3>
                <p>Recipe by: {{ cocktail['recipe_by'] }}</p>
            </div>

            <!-- if there are no cocktails created by the user  -->
            {% else %}
            <p>You haven't created any cocktails yet.</p>
            {% endfor %}
        </div>

        <!-- cocktails what the user has added to the favorites-->
        <!-- <h3>My Favorites</h3>
        <div class="cocktail-grid"> -->
            <!-- display all user's favorite cocktails -->
            <!-- {% for cocktail in cocktails %} 
            <div class="cocktail-card">
                <img src="{{ url_for('static', filename = cocktail['image']) }}" alt="{{ cocktail['name'] }}">
                <h3>{{ cocktails['name'] }}</h3>
                <p>Recipe by: {{ cocktail['recipe_by'] }}</p>
                <p>Popularity: {{ cocktail['popularity'] / cocktail['reviews_number'] }}</p>
            </div>

            {% else %}
            <p>You don't have any favorites yet.</p>
            {% endfor %}
        </div> -->
    </div>

    <script src="{{ url_for('static', filename = 'srcipt.js') }}"></script>
</body>

</html>