<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Cocktails</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Nav Bar -->
    {% include 'navbar.html' %} 

    <div class="explore-container">
        <h2>Explore Cocktails</h2>

        <div class="search-filter-container">
            <input type="text" id="search-bar" placeholder="Search cocktails..." oninput="filterCocktails()">
            
            <select id="filter-select" onchange="applyFilter()">
                <option value="all" {% if filter_option == 'all' %}selected{% endif %}>All</option>
                <option value="alcoholic" {% if filter_option == 'alcoholic' %}selected{% endif %}>Alcoholic</option>
                <option value="non-alcoholic" {% if filter_option == 'non-alcoholic' %}selected{% endif %}>Non-Alcoholic</option>
                <option value="easy" {% if filter_option == 'easy' %}selected{% endif %}>Lowest-to-highest rated</option>
                <option value="advanced" {% if filter_option == 'advanced' %}selected{% endif %}>Highest-to-lowest rated</option>
            </select>
        </div>
        
        <div class="cocktail-grid" id="cocktail-list">
            {% for cocktail in cocktails %}
            <div class="cocktail-card">
                <img src="{{ url_for('static', filename=cocktail.image) }}" alt="{{ cocktail.name }}">
                <h3>{{ cocktail.name }}</h3>
                <p>Popularity: {{ cocktail.popularity / cocktail.reviews_number }}</p>
                <p>Recipe by: {{ cocktail.recipe_by }}</p>

                <!-- add to favorite button-->
                <form action="{{ url_for('add_favorite', cocktail_id = cocktail.id) }}" method = "POST">
                    <button type="submit" class = "favorite-button">Add to favorites</button>
                </form>
            </div>
            {% endfor %}
        </div>
        
        <a href="all-explore.html" class="see-more">See More →</a>
    </div>
    
    <script>
        function applyFilter() {
            let filter = document.getElementById("filter-select").value;
            window.location.href = "{{ url_for('explore') }}?filter=" + filter;
        }

        function filterCocktails() {
            let input = document.getElementById("search-bar").value.toLowerCase();
            let cards = document.querySelectorAll(".cocktail-card");

            cards.forEach(card => {
                let name = card.querySelector("h3").innerText.toLowerCase();
                if (name.includes(input)) {
                    card.style.display = "block";
                } else {
                    card.style.display = "none";
                }
            });
        }
    </script>

</body>
</html>
