<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Home</title>
</head>

<body>
    <!-- Nav Bar -->
    {% include 'navbar.html' %}
  
<div class="slideshow-container">
    <div class="mySlides fade">
      <img src="/static/dirty_martini.jpg" style="width:100%">
    </div>
  
    <div class="mySlides fade">
      <img src="/static/mixologist.jpeg" style="width:100%">
    </div>
  
    <div class="mySlides fade">
      <img src="/static/champagne.jpg" style="width:100%">
    </div>

    <!-- The dots/circles -->
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>
  </div>
  <br>
  
    <div class="cocktail-container">
            <div class="cocktail-grid" id="cocktail-grid">
                {% for cocktail in top_cocktails %}
                    <div class="cocktail-card" onclick="goToExplore({{ cocktail['id'] }})">
                        <img src="{{ url_for('static', filename=cocktail['image']) }}" alt="{{ cocktail['name'] }}">
                        <h3>{{ cocktail['name'] }}</h3>
                        <div class="rating">
                            {% set rating = (cocktail.popularity / cocktail.reviews_number) | round(1) %}
                            {% for i in range(1, 6) %}
                                {% if i <= rating %}
                                    <span class="star filled">★</span>
                                {% else %}
                                    <span class="star empty">☆</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <p>Recipe by: {{ cocktail['recipe_by'] }}</p>
                        <p>Alcoholic: {% if cocktail['alcohol_content'] == 1 %} Yes {% else %} No {% endif %}</p>
                    </div>
                {% endfor %}
            </div>
        </div>  
    
    <h3><a href="explore.html">Explore More</a></h3>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
