<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Home</title>
</head>

<body>
    <!-- Nav Bar -->
    {% include 'navbar.html' %} 
  
    <h2>
        <span style="--j:1">Trending</span>
        <br><br>
        <span style="--j:2">Cocktails</span>    
    </h2>
    
    <div class="cocktail-container">
        <div class="cocktail-grid">
            <button id="prevBtn">←</button>

            <div class="cocktail-grid" id="cocktail-grid">
                {% for cocktail in top_cocktails %}
                    <div class="cocktail-card" onclick="goToExplore({{ cocktail['id'] }})">
                        <img src="{{ url_for('static', filename=cocktail['image']) }}" alt="{{ cocktail['name'] }}">
                        <h3>{{ cocktail['name'] }}</h3>
                        <p>Popularity: {{ cocktail['popularity'] / (cocktail['reviews_number'] * 5) }}</p>
                        <p>Recipe by: {{ cocktail['recipe_by'] }}</p>
                        <p>Alcoholic: {% if cocktail['alcohol_content'] == 1 %} Yes {% else %} No {% endif %}</p>
                    </div>
                {% endfor %}
            </div>

            <button id="nextBtn">→</button>
        </div>  
    </div>
    
    <h3><a href="explore.html">Explore More</a></h3>

    <script>
        function goToExplore(id) {
            window.location.href = "/explore.html?id=" + id;
        }
    </script>
</body>
</html>
