<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Register</title>
</head>

<body>
    <!-- Nav Bar -->
    {% include 'navbar.html' %} 

    <div class="login-container">
        <div col col1>
        <h2>    Register</h2>
        <div class="image-layer">
            <img src="/static/champagne.jpg" alt="champagne glasses" class="form-image-main">
           </div>
       </div>
       <div class="col col-2">
        <form action="/register.html" method="POST">
            <br>
            <label for="username">Username </label>
            <input type="username" class="form-control" id="username" placeholder="Enter username" name="username" required>
            
            <label for="email">Email </label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>

            <label for="password">Password </label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>

            <label for="dob"> Date of Birth</label>
            <input type="date" class="form-control" id="dob" name="dob" required>
            <br>
            
            {% if error %}
             <p style="color: red;">{{ error }}</p>
            {% endif %}

            <button type="submit">Register</button>
            <p id="error-message"></p>
        </form>
        <a href="/login.html"> I have an account!</a>
        </div>
    </div>
</body>
</html>