<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="" width=device-width, initial-scale="1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles1.css') }}">
    <title>My Profile</title>
</head>

<body>
    <!-- Nav Bar -->
    {% include 'navbar.html' %}

    <div class="profile-container">
        <h2>Welcome, {{ session['username'] }}</h2>

        <!-- cocktails what the user has created/uploaded -->
        <h3>My Created Cocktails</h3>
        <div class="cocktail-grid">
            <!-- display all cocktails created by the user -->

            {% for cocktail in user_cocktails %}
            <div class="cocktail-card">
                <img src="{{ url_for('static', filename = cocktail['image'])}}" alt="{{ cocktail['name'] }}">
                <h3>{{ cocktail['name'] }}</h3>
                <p>Recipe by: {{ cocktail['recipe_by'] }}</p>
            </div>

            <!-- if there are no cocktails created by the user  -->
            {% else %}
            <p>You haven't created any cocktails yet.</p>
            {% endfor %}
        </div>

        <!-- cocktails what the user has added to the favorites-->
        <h3>My Favorites</h3>
        <div class="cocktail-grid">
            <!-- display all user's favorite cocktails -->
            {% for cocktail in favorite_cocktails %}
            <div class="cocktail-card">
                <img src="{{ url_for('static', filename = cocktail['image']) }}" alt="{{ cocktail['name'] }}">
                <h3>{{ cocktail['name'] }}</h3>
                <p>Recipe by: {{ cocktail['recipe_by'] }}</p>
                <p>Popularity: {{ cocktail['popularity'] / cocktail['reviews_number'] }}</p>

                <!-- button to remove cocktails -->
                <form action="{{ url_for('remove_favorite', cocktail_id=cocktail.id) }}" method="POST">
                    <button type="submit" class="remove-favorite-button">Remove from favorites</button>
                </form>
            </div>

            {% else %}
            <p>You don't have any favorites yet.</p>
            {% endfor %}
        </div>

        <!-- Showing people that the users follow -->
        <h3>My Following</h3>
        <div class="followed-users">
            {% if followed_users %}
            <ul>
                {% for user in followed_users %}
                <li><strong>{{ user['username'] }}</strong>

                    <div class="cocktail-grid">
                        {% set user_cocktails = [] %}
                        {% for cocktail in followed_user_cocktails %}
                            {% if cocktail['created_by'] == user['id'] %}
                                {% set user_cocktails = user_cocktails + [cocktail] %}
                            {% endif %}
                        {% endfor %}

                        <!-- display the cocktails that the users have created followed by the logged-in user -->
                        {% if user_cocktails %}
                            {% for cocktail in user_cocktails %}
                            <div class="cocktail-card">
                                <img src="{{ url_for('static', filename = cocktail['image']) }}"
                                alt="{{ cocktail['name'] }}">
                                <h3>{{ cocktail['name'] }}</h3>
                                <p>Recipe by: {{ cocktail['recipe_by'] }}</p>
                            </div>
                            {% endfor %}
                        {% else %}
                            <p>No cocktails created by {{ user['username'] }} yet.</p>
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>You haven't followed anyone yet.</p>
            <p>Check out <a href="community.html">Community.</a></p>
            {% endif %}
        </div>
    </div>

    <script src="{{ url_for('static', filename = 'srcipt.js') }}"></script>
</body>

</html>